*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1277px;
    margin: 0 auto;
}
p{
    font-size: 15px;
}
#active{
    color: #307253;
}
.header-top{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-top .navbar{
    display: flex;
}
.header-top .navbar .nav-item{
    list-style: none;
}
.header-top .navbar .nav-item a{
    display: block;
    width: 102px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.header-top .navbar .nav-item a:hover{
    color: #307253;
}
.account{
    display: flex;
    align-items: center;
}
.account .vietnam img{
    width: 50px;
    padding-top: 5px;
}
.account .nav-login{
    display: flex;
}
.account .nav-login li{
    list-style: none;
}
.account .nav-login li:first-child{
    border-right: 2px solid;
}
.account .nav-login li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.account .nav-login li a:hover{
    color: #307253;
}

.header-main{
    margin: 0 140px;
}
.list-select-box{
    display: flex;
}
.list-select-box li{
    list-style: none;
}
.list-select-box li a{
    display: block;
    height: 60px;
    width: 150px;
    text-align: center;
    line-height: 60px;
    margin-right: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f1f2f2;
    text-decoration: none;
    color: #808285;
    color: black;
}
.list-select-box #active{
    background: #333333;
    color: #e0e0e0;
}
.search-form{
    display: flex;
    height: 60px;
    background-color: #307253;
    align-items: center;
}
.search-form .input{
    width: 95%;
    margin: 10px;
}
.search-form .input input{
    height: 45px;
    width: 100%;

}
.search-form .button{
    width: 5%;
    color: white;
    font-size: 30px;
    padding-left: 2px;
}
.banner{
    margin-top: 50px;
    margin-bottom: 50px;
}
.banner img{
    width: 100%;
}
/* =========================================================================================================== */
.title p{
    font-size: 34px;
    margin-bottom: 25px;
}
.potential-project .intro{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 6fr 4fr;
}
.potential-project .intro .image img{
    max-width: 100%;
}
.potential-project .intro .content{
    margin-left: 50px;
}
.potential-project .intro .content .content-title{
    margin-bottom: 130px;
}
.potential-project .intro .content .content-title p{
    font-size: 26px;
}
.potential-project .intro .content .content-text p{
    font-size: 17px;
    line-height: 27px;
}
/* ================================ */
.strong{
    font-weight: bold;
}
.project-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}
.project-detail .image img{
    width: 100%;
}
.project-detail .content{
    margin-right: 20px;
    border-bottom: 3px solid #e6e7e8;
}
.project-detail .content-title{
    margin-bottom: 20px;
}
.project-detail .content-title p{
    font-size: 26px;
}
.project-detail .content .row p{
    font-size: 17px;
}
.project-detail .content .row{
    padding-bottom: 8px;
    line-height: 25px;
}
.project-detail .content .button{
    float: right;
    margin-top: 50px;
}
.project-detail .content .button a{
    text-decoration: none;
    display: block;
    background-color: #333333;
    color: #f54237;
    width: 110px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}
/* ========================================= */
.list-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
}
.list-home .col .image img{
    width: 100%;
}
.list-home .col .home-name{
    margin: 8px 0;
}
.list-home .col .home-name p{
    font-size: 17px;
}
.list-home .col .home-info{
    padding-left: 10px;
    line-height: 20px;
    border-left: 3px solid #e6e7e8;
}
/* =========================================== */
.slide-banner .image img{
    width: 100%;
    margin-bottom: 50px;
}
/* =========================================== */
.list-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.list-product .box .image img{
    width: 100%;
}